body { font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;}

.navbar {
    background-color: #006994;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    color: white;
}
.content1 {
    padding: 30px;
}
.content2{
    padding-right:700px;
    padding-left: 100px;
    font-family:'Carla Sans',sans-serif;
    color: #006994;
}
.content3{
    padding-right:700px;
    padding-left: 100px;
    padding-bottom: 50px;
    font-family:'Carla Sans',sans-serif;
    color: black;

}
.image-right {
    float: right;
    margin-left: 20px;
    width: 450px;
    height: 400px;
    margin-top: -450px;
    margin-right: 100px;
}
footer {
    padding: 20px;
    background-color: #006994;
    text-align: center;
    line-height:1.8;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-left: auto;
    padding: 14px 20px;
}

.dropbutton {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(221,221,221);
    z-index: 9999;
}

.dropdown-content a {
    color: transparent;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

